* {
    font-size: 8px;
    font-size: 100%;
}

body {
    height: 100%;
}

div#contenedorExterior {
    width: 80%;
    height: auto;
    background-color: lightskyblue;
    margin: auto;
    /*centra el div exterior*/
}

div.divInterior {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1% auto;
    margin-inline: 1%;
    /*orientación de los contenidos interiores*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*fuente*/
    font-size: 26px;
    font-weight: bold;
    /*bordes*/
    border-style: solid;
    border-color: black;
    border-width: 1px;
    /*bordes redondeados*/
    border-radius: 10px;
    /*sombra*/
    box-shadow: 16px 8px 2px rgba(0, 0, 0, 0.3);
}

div#contenedorInterior1 {
    background: linear-gradient(orange, white, pink);
    font-size: 2em;
}

div#contenedorInterior2 {
    background: radial-gradient(orange, white, pink);
    font-size: 1em;
}

div#contenedorInterior3 {
    background: linear-gradient(0deg, orange, white, pink);
}

div#contenedorInterior4 {
    background: radial-gradient(orange, white, pink);
    font-size: 1em;
}

div#contenedorInterior5 {
    background: linear-gradient(0deg, orange, white, pink);
}

div.divClear {
    clear: both;
}

img {
    max-height: 100%;
    max-width: 100%;
}