*{
	margin: 0;
	padding: 0;
}
html,body{
	background-color: lightgreen;
	box-sizing: border-box;
	height: 100%;
	font-family: sans-serif;
	overflow-y: auto;
}
div.fondo{
	color: blueviolet;
}
div.contenedor{
	position: fixed;
	top: 25%;
	left: 30%;
	display: block;
	box-sizing: border-box;
	margin: auto;
	padding: 2%;
	background-color: pink;
	width: 40%;
	height: 50%;
}
label{
	margin-top: 2%;
	font-size: 1.3em;
	color: blue;
	font-weight: bold;
}
input{
	margin-top: 1%;
	width: 35%;
	height: 20%;
}
input:focus{
	background-color: aquamarine;
}
button{
	position: relative;
	left: 14%;
	margin: 2%;
	border-color: blue;
	background-color: blueviolet;
	color: lightskyblue;
	width: 20%;
	height: 15%;
}
button:hover{
	background-color: grey;
}
button:active{
	transform: scale(0.98);
}
button:disabled{
	background-color: blue;
}